@font-face {
  font-family: 'interglrcf';
  src: url(../src/assets/font/integraclf-bold.otf);
}

*{
  padding: 0 0;
  margin: 0 0;
}

.App {
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.section-title{
  font-family: "interglrcf";
}